.navbar-giveFat{
  height: 10%;
}
html{
  height: 100%;
}
body {
  height: 100%;
  background-color: #075C5F;
  background-image: linear-gradient(to bottom, teal,#40E0D0,#075C5F);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mfront {
  z-index: 1000;
}
#item1{position:absolute;
	left:20%;
transform: translateX(-50%)}

#item2{position:absolute;
	left:40%;
transform: translateX(-50%)}

#item3{position:absolute;
	left:60%;
transform: translateX(-50%)}

#item4{position:absolute;
	left:80%;
transform: translateX(-50%)}
